<div class="c-slider-login">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-3 c-form">
                <p>
                    <b>{{"profile.title" | translate}}</b>
                </p>

                <form>
                    <button class="btn btn-lg btn-warning btn-block" data-ng-click="givegold()">{{"profile.givegold" | translate}}</button>
                    <button class="btn btn-lg btn-warning btn-block" data-ng-click="removegold()">{{"profile.removegold" | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>