<div class="container">
    <h2 class="c-title">{{"accounts.title" | translate}}</h2>

    <p class="c-discription">
        {{"accounts.description.text1" | translate}}<br/>
        {{"accounts.description.text2" | translate}}
    </p>
    
    <div data-ng-if="!vm.accounts.$resolved">
        <h2>Loading...</h2>
    </div>
    <table class="c-accounts table-striped" ng-if="vm.accounts.$resolved">
        <tr ng-repeat="account in vm.accounts">
            <td>
                <img ng-if="account.accountType == 1" src="../../Content/img/card.png" title="Кредитка" />
                <img ng-if="account.accountType == 2" src="../../Content/img/account.png" title="Банковский счет" />
                <img ng-if="account.accountType == 3" src="../../Content/img/uah.png" title="Наличные" />
            </td>
            <td>
                <b>{{account.name}} ({{currencies[account.accountCurrency - 1]}})</b>
                <p>{{account.comments}}</p>
            </td>
            <td>{{account.amount}} ({{currencies[account.accountCurrency - 1]}})</td>
            <td>
                <a href="" class="btn btn-lg btn-success" ng-click="editaccount(account)" role="button">{{"accounts.edit" | translate}}</a>
                <span><a href="" ng-click="delete(account)">{{"accounts.delete" | translate}}</a></span>
            </td>
        </tr>


    </table>

    <div class="c-accounts-buttons">
        <a class="btn btn-lg btn-warning" href="" ng-click="vm.open()" role="button">{{"accounts.add_account" | translate}}</a>
    </div>
</div>