<div class="c-slider-login">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-3 c-form">
                <p>
                    <b>Счета</b>
                </p>
                <table class="table" ng-if="accounts.length>0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="account in accounts">
                        <td>{{account.name}}</td>
                        <td>{{account.amount}}</td>
                        <td><a class="btn btn-lg btn-warning" ng-href="#/editaccount?id={{account.id}}" role="button">Edit</a></td>
                        <td><a class="btn btn-lg btn-warning" href="#" ng-click="delete(account.id)" role="button">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-lg btn-warning" href="#/createaccount" role="button">Create New One</a>
            </div>
        </div>
    </div>
</div>