<div class="container">
    <h2 class="c-title">Счета</h2>

    <p class="c-discription">
        Cервис финансового планирования и учета расходов потребителей.<br/>
        Вести учет потраченных денег по каждой из категорий, а также добавлять в планы периодические платежи.
    </p>

    <table class="c-accounts table-striped" ng-if="accounts.length>0">
        <tr ng-repeat="account in accounts">
            <td>
                <img src="../../Content/img/card.png" />
            </td>
            <td>
                <b>{{account.name}}</b>
                <p>Комментарий к счету</p>
            </td>
            <td>{{account.amount}}</td>
            <td>
                <a class="btn btn-lg btn-success" ng-href="#/editaccount?id={{account.id}}" role="button">Редактировать</a>
                <span><a href="" ng-click="delete(account.id)">Удалить</a></span>
            </td>
        </tr>


    </table>

    <div class="c-accounts-buttons">
        <a class="btn btn-lg btn-warning" href="" ng-click="open()" role="button">Добавить счет</a>
    </div>
</div>