<div class="c-slider-login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 c-form-login">
                <form class="form-horizontal" name="changepasswordForm" ng-show="!passwordChanged" novalidate>
                    <b>Изменить пароль</b>

                    <input class="form-control" name="oldPassword" id="oldPassword" type="password" placeholder="Ваш текущий пароль" data-ng-model="changePasswordViewModel.oldPassword" ng-pattern="/^\S*$/" ng-minlength=6 ng-model-options="{ debounce: 600 }" required autofocus />
                    <div ng-if="changepasswordForm.oldPassword.$dirty" ng-messages="changepasswordForm.oldPassword.$error" ng-messages-include="app/templates/messages.html"></div>

                    <input class="form-control" name="newPassword" id="newPassword" type="password" placeholder="Ваш новый пароль" data-ng-model="changePasswordViewModel.newPassword" ng-pattern="/^\S*$/" ng-minlength=6 ng-model-options="{ debounce: 600 }" required />
                    <div ng-if="changepasswordForm.newPassword.$dirty" ng-messages="changepasswordForm.newPassword.$error" ng-messages-include="app/templates/messages.html"></div>

                    <input class="form-control" name="ConfirmNewPassword" id="ConfirmNewPassword" type="password" placeholder="Подтверждение нового пароля" data-ng-model="changePasswordViewModel.confirmNewPassword" password-check="newPassword" ng-pattern="/^\S*$/" ng-minlength=6 ng-model-options="{ debounce: 600 }" required />
                    <div ng-if="changepasswordForm.ConfirmNewPassword.$dirty" ng-messages="changepasswordForm.ConfirmNewPassword.$error" ng-messages-include="app/templates/messages.html"></div>

                    <button class="btn btn-lg btn-warning btn-block" type="submit" data-ng-click="change()" ng-disabled="changepasswordForm.$invalid">Поменять пароль</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-md-offset-2 c-form" ng-show="passwordChanged">
        <p>
            <b>Пароль был успешно изменен.</b> <br/>
            Чтобы войти в систему с новым паролем нажмите <a href="#/login" class="btn btn-lg btn-warning">Сюда</a>
        </p>
    </div>
</div>