    <div class="container">
                <form name="editAccountForm" novalidate>
                    <h4>{{"create_plan_modal.chose" | translate}}</h4>
                    <div>
                        <datepicker ng-model="newPlan.Month" datepicker-mode="'month'" min-mode="month"></datepicker>
                    </div>

                    <a class="btn" type="submit" ng-click="create()">{{"create_plan_modal.create" | translate}}</a>
                    <a class="btn" href="" role="button" ng-click="$dismiss()">{{"common.cancel" | translate}}</a>
                </form>
        </div>