    <div class="container">
                <form name="editAccountForm" novalidate>
                    <h4>Inline</h4>
                    <div>
                        <datepicker ng-model="newPlan.Month" datepicker-mode="'month'" min-mode="month"></datepicker>
                    </div>

                    <a class="btn" type="submit" ng-click="create()">Create Plan</a>
                    <a class="btn" href="" role="button" ng-click="$dismiss()">Cancel</a>
                </form>
        </div>