    <div class="container">
                <form name="editCategoryForm">
                    <label for="Name">Cat name</label>
                    <input name="Name" id="Name" type="text" placeholder="Enter cat name" data-ng-model="newCategory.Name"/>
                    <br/>
                    <label for="Planned">Planned</label>
                    <input name="Planned" id="Planned" placeholder="planned money" data-ng-model="newCategory.Planned"/>
                    <br/>
                    <label for="Spent">Spent</label>
                    <input name="Spent" id="Spent" placeholder="actually spent money" data-ng-model="newCategory.Spent"/>
                    <br/>
                    <label for="Currency">Currency</label>
                    <select id="Currency" ng-model="newCategory.Currency" required>
                        <option value="1">Гривна</option>
                        <option value="2">Доллар</option>
                        <option value="3">Евро</option>
                    </select>
                    <br/>
                    <button class="btn btn-lg btn-warning" type="submit" ng-click="create()">Create cat</button>
                    <a class="btn btn-lg btn-warning" href="" role="button" ng-click="$dismiss()">Отмена</a>
                </form>
            </div>