<div class="c-slider-login">
    <div class="container" ng-show="!wasCreated">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 c-form-login">
                <form name="editAccountForm" novalidate>
                    <b ng-if="editAccountViewModel.id != undefined || editAccountViewModel.id != null">{{"editaccountmodal.edit" | translate}}</b>
                    <b ng-if="editAccountViewModel.id == undefined || editAccountViewModel.id == null">{{"editaccountmodal.create" | translate}}</b>
                    <br/>
                    <label for="Name">{{"editaccountmodal.name" | translate}}</label>
                    <input class="form-control" name="Name" id="Name" type="text" placeholder="Введите новое имя" data-ng-model="editAccountViewModel.Name" ng-pattern="/[a-zA-ZА-Яа-я0-9]+/" ng-model-options="{ debounce: 600 }" required autofocus />
                    <div ng-if="editAccountForm.Name.$dirty" ng-messages="editAccountForm.Name.$error" ng-messages-include="app/templates/messages.html"></div>

                    <label for="Amount">{{"editaccountmodal.balance" | translate}}</label>
                    <input class="form-control" name="Amount" id="Amount" placeholder="Введите новую сумму" data-ng-model="editAccountViewModel.Amount" ng-pattern="/[0-9.]+/" ng-model-options="{ debounce: 600 }" required />
                    <div ng-if="editAccountForm.Amount.$dirty" ng-messages="editAccountForm.Amount.$error" ng-messages-include="app/templates/messages.html"></div>

                    <label for="Comments">{{"editaccountmodal.comments" | translate}}</label>
                    <input class="form-control" name="Comments" id="Comments" type="text" placeholder="Введите комментарий к счету" data-ng-model="editAccountViewModel.Comments" ng-pattern="/[a-zA-ZА-Яа-я0-9]+/" ng-model-options="{ debounce: 600 }" autofocus />
                    <div ng-if="editAccountForm.Comments.$dirty" ng-messages="editAccountForm.Comments.$error" ng-messages-include="app/templates/messages.html"></div>

                    <label for="AccountType">{{"editaccountmodal.type" | translate}}</label>
                    <select class="form-control" id="AccountType" ng-model="editAccountViewModel.AccountType" required>
                        <option value="1">{{"editaccountmodal.credit" | translate}}</option>
                        <option value="2">{{"editaccountmodal.bank" | translate}}</option>
                        <option value="3">{{"editaccountmodal.cash" | translate}}</option>
                    </select>

                    <label for="AccountCurrency">{{"editaccountmodal.currency" | translate}}</label>
                    <select class="form-control" id="AccountCurrency" ng-model="editAccountViewModel.AccountCurrency" required>
                        <option value="1">{{"editaccountmodal.hryvnia" | translate}}</option>
                        <option value="2">{{"editaccountmodal.dollar" | translate}}</option>
                        <option value="3">{{"editaccountmodal.euro" | translate}}</option>
                    </select>

                    <button class="btn btn-lg btn-warning btn-block" type="submit" ng-if="editAccountViewModel.id != undefined || editAccountViewModel.id != null" data-ng-click="update()" data-ng-disabled="editAccountForm.$invalid">{{"editaccountmodal.refresh" | translate}}</button>
                    <button class="btn btn-lg btn-warning btn-block" type="submit" ng-if="editAccountViewModel.id == undefined || editAccountViewModel.id == null" data-ng-click="update()" data-ng-disabled="editAccountForm.$invalid">{{"editaccountmodal.create" | translate}}</button>
                    <a class="btn btn-lg btn-warning btn-block" href="" role="button" ng-click="cancel()">{{"editaccountmodal.cancel" | translate}}</a>
                </form>
            </div>
        </div>
    </div>
</div>