<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{"edit_item_modal.title" | translate}}</h4>
    </div>
    <div class="modal-body">
        <form name="editItemForm">
            <label for="Name">{{"common.item_name" | translate}}</label>
            <input name="Name" id="Name" type="text" placeholder="Название покупки" data-ng-model="item.Name" />
            <br />
            <label for="Price">{{"common.item_price" | translate}}</label>
            <input name="Price" id="Price" type="number" placeholder="Цена покупки" data-ng-model="item.Price" />
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$dismiss()">{{"common.cancel" | translate}}</button>
        <button type="button" class="btn btn-primary" ng-click="create()">{{"common.save" | translate}}</button>
        <button type="button" class="btn btn-primary" ng-click="editAndBuy()" ng-disabled="item.buyed">{{"edit_item_modal.save_and_buy" | translate}}</button>
        <button type="button" class="btn btn-primary" ng-click="sell()" ng-disabled="!item.buyed">{{"edit_item_modal.sell" | translate}}</button>
    </div>
</div><!-- /.modal-content -->