<div class="c-slider-login">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-2 c-form" ng-show="!emailConfirmed&&!password">
                <p>
                    Ваш адрес электронной почты был подтвержден
                    Начните изучать возможности OMoney прямо сейчас!
                    <a href="#/login" class="btn btn-lg btn-warning" data-ng-click="continue()">
                            Начать
                    </a>
                </p>
            </div>
            <div class="col-md-7 col-md-offset-2 c-form" ng-show="emailConfirmed">
                <p>
                    Ваш адрес электронной почты был подтвержден
                    Начните изучать возможности OMoney прямо сейчас! <a href="#/login" class="btn btn-lg btn-warning">Начать</a>
                </p>
            </div>
            <div class="col-md-7 col-md-offset-2 c-form" ng-show="password">
                <p>
                    Ваш адрес электронной почты был подтвержден.
                    Нажмите <a href="#/restorepassword" class="btn btn-lg btn-warning">Сюда</a> чтобы восстановить пароль.
                </p>
            </div>
        </div>
    </div>
</div>