<div class="banner-1">
    <div class="container text-right">
        <button type="button" class="btn btn-login-header btn-lg" data-toggle="modal" data-target="#myModal">Sign in</button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Check me out
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Sign in</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal end -->
    </div>
    <div class="container">
        <div class="hero-content row">
            <div class="col-md-4">
                <h1>OMoney</h1>
                <small>Simply as that</small>
                <p>Easy to manage your money online.</p>
                <br />
                <small>Create new account</small>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="col-md-6" style="padding-left: 1px;">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Check me out
                        </label>
                    </div>
                </form>
                <p>
                    <button type="button" class="btn btn-primary btn-lg">Sign up for free</button>
                </p>
            </div>
            <!-- md-5 end -->
            <div class="col-md-8">
                <div class="monitor"></div>
            </div>
        </div>
        <!-- Hero-content end -->
    </div>
</div>
<!-- banner-1 end -->
<div id="content">
    <div class="container-fluid highlight-div">
        <div class="container text-center">
            <ul class="list-inline">
                <li>
                    <a href="#"><i class="fa fa-facebook-square fa-2"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter fa-2"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-vk fa-2"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin-square fa-2"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- highlight-div end -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <p><img src="/Content/img/icons/essentials-06.png" alt="" class="story-icon"></p>
                <h2>Easy to use</h2>
                <h4>Inani zril et eum, nec consul repudiare dissentias te. An primis dissentiunt nam, in sit libris hendrerit, ex electram reformidans neglegentur quo.</h4>
            </div>
            <div class="col-md-4 text-center">
                <p><img src="/Content/img/icons/essentials-17.png" alt="" class="story-icon"></p>
                <h2>Totaly free</h2>
                <h4>Inani zril et eum, nec consul repudiare dissentias te. An primis dissentiunt nam, in sit libris hendrerit, ex electram reformidans neglegentur quo.</h4>
            </div>
            <div class="col-md-4 text-center">
                <p><img src="/Content/img/icons/essentials-22.png" alt="" class="story-icon"></p>
                <h2>Save more time</h2>
                <h4>Inani zril et eum, nec consul repudiare dissentias te. An primis dissentiunt nam, in sit libris hendrerit, ex electram reformidans neglegentur quo.</h4>
            </div>
        </div>
    </div>
    <div class="grey-div">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>use it on any device</h1>
                    <h3>Inani zril et eum, nec consul repudiare dissentias te. An primis dissentiunt nam, in sit libris hendrerit, ex electram reformidans neglegentur quo.</h3>
                </div>
                <div class="col-md-6">
                    <div class="devices"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- grey-div end -->
    <div class="container text-center">
        <br />
        <br />
        <h2>Still don't Feel Convinced?</h2>
        <h2 style="margin-top:0">Just Try it now!</h2>
        <br />
        <p>
            <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-diamond"></i>  Sign up for free</button>
        </p>
    </div>
</div>
<!-- body-content end -->