<div class="container">
    <h2 class="c-title">Финансовый план</h2>

    <p class="c-discription">
        Cервис финансового планирования и учета расходов потребителей.<br />
        Вести учет потраченных денег по каждой из категорий, а также добавлять в планы периодические платежи.
    </p>

    <div class="c-plan-stat">
        <div class="c-plan-stat-top">
            <span>1</span>
            <span>3</span>
            <span>5</span>
            <span>7</span>
            <span>9</span>
            <span>15</span>
            <span>27</span>
            <span>31</span>
        </div>

        <div class="c-plan-stat-medium">
            <span><img src="../../Content/img/point.png" alt="" /></span>
            <span><img src="../../Content/img/point.png" alt="" /></span>
            <span><img src="../../Content/img/point.png" alt="" /></span>
            <span><img src="../../Content/img/point.png" alt="" /></span>
            <span><img src="../../Content/img/point.png" alt="" /></span>
            <span><img src="../../Content/img/point.png" alt="" /></span>
            <span><img src="../../Content/img/point.png" alt="" /></span>
            <span><img src="../../Content/img/point.png" alt="" /></span>
        </div>

        <div class="c-plan-stat-bottom">
            <span>
                1300<br />
                грн
            </span>
            <span>
                300<br />
                грн
            </span>
            <span>
                50<br />
                $
            </span>
            <span>
                12<br />
                грн
            </span>
            <span>
                27<br />
                $
            </span>
            <span>
                16<br />
                грн
            </span>
            <span>
                600<br />
                $
            </span>
            <span>
                170<br />
                грн
            </span>
        </div>
    </div>

    <div class="c-plan-stat-buttons">
        <a class="btn btn-lg btn-default c-active" href="#" role="button">За декабрь</a>
        <a class="btn btn-lg btn-default" href="#" role="button">За квартал</a>
        <a class="btn btn-lg btn-default" href="#" role="button">За полугодие</a>
        <a class="btn btn-lg btn-default" href="#" role="button">За год</a>
    </div>

    <div class="c-plan" ng-if="plans.length > 0">
        <div class="c-plan-nav">
            <div class="c-plan-nav-title">{{currentPlan.month | date : 'MMMM'}}</div>

            <div class="c-plan-nav-prev" ng-click="prev()"></div>
            <div class="c-plan-nav-next" ng-click="next()"></div>
        </div>

        <table>
            <tr>
                <th>
                    <div>
                        <strong>Категории</strong>
                        <a href="#">Изменить</a>
                    </div>
                </th>
                <th>
                    <div>
                        <strong>Покупки</strong>
                        <a href="#">Изменить</a>
                    </div>
                </th>
                <th>
                    <strong>Запланированно</strong>
                </th>
                <th>
                    <strong>Оплачено</strong>
                </th>
            </tr>

            <tr ng-repeat="cat in currentPlan.categories.$values">
                <td>
                    {{cat.name}}
                    <a class="btn btn-default" ng-click="editCategory(cat)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <a class="btn btn-default" ng-click="deleteCategory(cat)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    <ol>
                        <li ng-repeat="item in cat.items.$values">
                            {{item.name}}
                            <a class="btn btn-default" ng-click="editItem(item)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-default" ng-click="deleteItem(item)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ol>
                    <a class="btn btn-lg btn-default" role="button" ng-click="createItem(cat.id)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                </td>
                <td>{{cat.planned}} (гривна)</td>
                <td>{{cat.spent}} (гривна)</td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-lg btn-default" role="button" ng-click="createCategory()">Create Cat</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">Итого:</td>
                <td>800 (гривна)</td>
                <td>540 (гривна)</td>
            </tr>
        </table>
    </div>
    <a class="btn btn-lg btn-default" role="button" ng-click="createPlan()">Add new monthly plan</a>
    <a class="btn btn-lg btn-default" role="button" ng-click="deletePlan(currentPlan)">Delete current plan</a>

    <div class="c-plan-indicator">
        <h3>Индикатор расходов</h3>

        <img src="../../Content/img/chart.png" alt="" />
        <p>Всего денег на счетах: 1714 грн (100%)</p>

        <div class="c-explication">
            <span><img src="../../Content/img/green_point.png" alt="" /> Остаток на счетах</span>
            <span><img src="../../Content/img/blue_point.png" alt="" /> Расход запланированных денег</span><br />
            <span><img src="../../Content/img/orange_point.png" alt="" /> Неизрасходованные запланированные деньги</span>
        </div>
    </div>
</div>