<div class="c-slider-login">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-3 c-form">
                <p>
                    <b>Профиль</b>
                </p>

                <form>
                    <button class="btn btn-lg btn-warning btn-block" data-ng-click="givegold()">Дайте мне голд на месяц</button>
                    <button class="btn btn-lg btn-warning btn-block" data-ng-click="removegold()">Заберите у меня голд</button>
                </form>
            </div>
        </div>
    </div>
</div>