<form class="form-horizontal" name="resetPasswordForm" role="form" novalidate>
    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label"
                   for="newPassword">Новый пароль</label>
            <div class="col-md-4">
                <input class="form-control" name="newPassword" id="newPassword" type="password" placeholder="Password" data-ng-model="resetPasswordViewModel.newPassword" ng-pattern="/[^\s]+/" required />
            </div>
            <div ng-messages="resetPasswordForm.Password.$error" ng-messages-include="app/templates/messages.html"></div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label"
                   for="ConfirmNewPassword">Подтверждение нового пароля</label>
            <div class="col-md-4">
                <input class="form-control" name="ConfirmNewPassword" id="ConfirmNewPassword" type="password" placeholder="Confirm Password" data-ng-model="resetPasswordViewModel.confirmNewPassword" password-check="newPassword" ng-pattern="/[^\s]+/" required />
            </div>
            <div ng-messages="resetPasswordForm.ConfirmPassword.$error" ng-messages-include="app/templates/messages.html"></div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <span>
                    <button class="btn btn-primary" data-ng-click="reset()" ng-disabled="resetPasswordForm.$invalid">
                        Поменять пароль
                    </button>
                </span>
                <span>
                    <button class="btn btn-default" data-ng-click="cancel()">
                        Отмена
                    </button>
                </span>
            </div>
        </div>
    </fieldset>
</form>