@media (min-width: 768px) {
    .hero-content {
        top: 0px;
    }
}
@media (min-width: 992px) {
    .hero-content {
        top: 0px;
    }
    .col-md-3 {
        width: 24.3%;
    }
    .navbar-fixed-top .col-md-4 {
        width: inherit;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1070px;
    }
}
@media (min-width: 1350px) {
    .navbar-fixed-top .col-md-4 {
        width: 36.4%;
    }
}