<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Omoney</title>

    <!-- Stylesheets -->
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/toastr.css" rel="stylesheet" />
    <link href="Content/app.css" rel="stylesheet" />
    <link href="Content/main.css" rel="stylesheet" />


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body ng-app="oMoney">
<div>
    <div class="c-header" data-ng-controller="navigationController">
        <div class="container">
            <div class="c-logo">
                <a href="#/">
                <img src="../../Content/img/Logo-Final.jpg" width="294" height="96" alt=""/>
                </a>
        </div>

            <nav class="c-nav">
                <ul ng-if="!authentication.isAuthenticated && currentRoute === '/home'">
                    <li><a href="" ng-click="gotoElement('about')">О нас</a></li>
                    <li><a href="" ng-click="gotoElement('advantages')">Преимущества</a></li>
                    <li><a href="" ng-click="gotoElement('people')">Отзывы</a></li>
                    <li><a href="" ng-click="gotoElement('money')">Тарифы</a></li>
                    <li><a href="#/login">Войти</a></li>
                </ul>

                <ul ng-if="authentication.isAuthenticated">
                    <li><a href="#/accounts">Счета</a></li>
                    <li><a href="#/plans">Планы</a></li>
                    <li><a href="#/accounts">Календарь</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Привет, {{authentication.userName}} <b class="caret"></b></a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#/profile">Профиль</a></li>
                            <li><a href="#/changepassword">Изменить пароль</a></li>
                            <li><a href="" data-ng-click="logOut()">Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <div class="clearfix"></div>
        </div>
    </div>

    <div>
        <div data-ng-view=""></div>
    </div>

    <div class="c-footer">
        <div class="container">
            <div class="c-footer-nav">
                <div class="c-copyright">© 2015 Omoney</div>

                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Преимущества</a></li>
                    <li class="active"><a href="#">Отзывы</a></li>
                    <li><a href="#">Тарифы</a></li>
                </ul>
            </div>

            <div class="pull-right">
                <img src="Content/img/footer_logo.png" alt=""/>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <!-- footer end -->
</div>

<!-- Libraries -->
<script src="scripts/jquery-2.1.3.min.js"></script>
<script src="scripts/angular.min.js"></script>
<script src="scripts/angular-route.min.js"></script>
<script src="scripts/angular-local-storage.min.js"></script>
<script src="scripts/angular-messages.js"></script>
<script src="scripts/toastr.js"></script>
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

<!-- Application script -->
<script src="app/app.js"></script>

<!-- Services -->
<script src="app/services/authService.js"></script>
<script src="app/services/userService.js"></script>
<script src="app/services/notificationService.js"></script>
<script src="app/services/emailNotificationService.js"></script>>
<script src="app/services/authInterceptorService.js"></script>
<script src="app/services/anchorSmoothScrollService.js"></script>
<script src="app/services/accountsService.js"></script>
<script src="app/services/modalService.js"></script>
<script src="app/services/plansService.js"></script>
<script src="app/services/categoryService.js"></script>
<script src="app/services/itemService.js"></script>

<!-- Controllers -->
<script src="app/controllers/homeController.js"></script>
<script src="app/controllers/navigationController.js"></script>
<script src="app/controllers/activationController.js"></script>
<script src="app/controllers/loginController.js"></script>
<script src="app/controllers/profileController.js"></script>
<script src="app/controllers/changePasswordController.js"></script>
<script src="app/controllers/restorePasswordController.js"></script>
<script src="app/controllers/resetPasswordController.js"></script>
<script src="app/controllers/emailConfirmationController.js"></script>
<script src="app/controllers/accountController.js"></script>
<script src="app/controllers/editAccountModalController.js"></script>
<script src="app/controllers/plansController.js"></script>
<script src="app/controllers/createPlanModalController.js"></script>
<script src="app/controllers/createCategoryModalController.js"></script>
<script src="app/controllers/createItemModalController.js"></script>

<!-- Directives -->
<script src="app/directives/password-check.js"></script>

</body>
</html>